<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:notice2] %>
  <p><%= flash[:notice2] %></p>
<% end %>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <div class="profile-container">
         <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <table class="table">
           <tbody>
            <tr>
              <th>name</th>
              <th class = "profile-name"><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th class = "profile-introduction"><%= @user.introduction %></th>
            </tr>
           </tbody>
        </table>
        <div class="row">
          <%= link_to edit_user_path(@user), class: 'btn btn-outline-secondary btn-block fas ' do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
      </div>
      <h2>New book</h2>
      <%= form_with model: @book_new, local:true do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
      <% end %>
    </div>
      <div class="col-md-8 offset-md-1">
       <h2>Book detail</h2>
        <table class="table">
          <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@user.id) do %>
                    <%= attachment_image_tag @user, :profile_image, size:"40x40", fallback: "no_image.jpg"%>
                  <% end %>
                  <br>
                  <%= link_to user_path(@user.id) do %>
                    <%= @user.name %>
                  <% end %>
                  </br>
                </td>
                <td>
                  <%= link_to books_path(@book.id) do %>
                    <%= @book.title %>
                  <% end %>
                </td>
                <td><%= @book.body %></td>
                <td>
                  <% if @user.id == current_user.id %>
                    <%= link_to edit_book_path(@book.id) do %>
                        <div class= "edit btn btn-sm btn-success" >
                          Edit
                          <span class="glyphicon glyphicon-wrench" aria-hidden="true">
                          </span>
                        </div>
                    <% end %>
                    <%= link_to book_path(@book.id) ,method: :delete, data: {confirm: "本当に消しますか？"} do %>
                        <div class= "destroy btn btn-sm btn-danger" >
                          Destroy
                          <span class="glyphicon glyphicon-wrench" aria-hidden="true">
                          </span>
                        </div>
                    <% end %>
                  <% end %>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
